<%= form_tag( '/calendar',remote: true ) do |f| %>
<%= label_tag :events %>
<%= text_field_tag :events, 'please enter an array of date objects' %>
<%=submit_tag 'Add Events'%>
<% end %>

<div class='calendar-container'>
    <div class='hour-markers'>
        <div class='hr'>
            <h4>9:00</h4> <span class='meridian'>am</span>
        </div>
        <div class='half-hr'>
            <h6>9:30</h6>
        </div>
        <div class='hr'>
            <h4>10:00</h4> <span class='meridian'>am</span>
        </div>
        <div class='half-hr'>
            <h6>10:30</64>
        </div>
        <div class='hr'>
            <h4>11:00</h4> <span class='meridian'>am</span>
        </div>
        <div class='half-hr'>
            <h6>11:30</64>
        </div>
        <div class='hr'>
            <h4>12:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>12:30</64>
        </div>
        <div class='hr'>
            <h4>1:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>1:30</h6>
        </div>
        <div class='hr'>
            <h4>2:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>2:30</h6>
        </div>
        <div class='hr'>
            <h4>3:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>3:30</h6>
        </div>
        <div class='hr'>
            <h4>4:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>4:30</h6>
        </div>
        <div class='hr'>
            <h4>5:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>5:30</h6>
        </div>
        <div class='hr'>
            <h4>6:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>6:30</h6>
        </div>
        <div class='hr'>
            <h4>7:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>7:30</h6>
        </div>
        <div class='hr'>
            <h4>8:00</h4> <span class='meridian'>pm</span>
        </div>
        <div class='half-hr'>
            <h6>8:30</h6>
        </div>
        <div class='hr'>
            <h4>9:00</h4> <span class='meridian'>pm</span>
        </div>
    </div>
    <table class='calendar-main'>
        <tbody>
            <tr id='0900'>
            </tr>
            <tr id='0930'>
            </tr>
            <tr id='1030'>
            </tr>
            <tr id='1000'>
            </tr>
            <tr id='1100'>
            </tr>
            <tr id='1130'>
            </tr>
            <tr id='1200'>
            </tr>
            <tr id='1230'>
            </tr>
            <tr id='1300'>
            </tr>
            <tr id='1330'>
            </tr>
            <tr id='1400'>
            </tr>
            <tr id='1430'>
            </tr>
            <tr id='1500'>
            </tr>
            <tr id='1530'>
            </tr>
            <tr id='1600'>
            </tr>
            <tr id='1630'>
            </tr>
            <tr id='1700'>
            </tr>
            <tr id='1730'>
            </tr>
            <tr id='1800'>
            </tr>
            <tr id='1830'>
            </tr>
            <tr id='1900'>
            </tr>
            <tr id='1930'>
            </tr>
            <tr id='2000'>
            </tr>
            <tr id='2030'>
            </tr>

        </tbody>
    </table>

</div>