body {
    box-sizing: border-box;
}

h4 {
    font-size: 18px;
    font-weight: 800;
    display: inline;
    padding: 0;
    margin: 0;
}

h6 {
    font-size: 12px;
    font-weight: 100;
    padding: 0 0 0 50px;
    margin: 0;
}

.meridian {
    display: inline;
    font-size: 14px;
    font-weight: 100;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.hour-markers {
    width: 100px;
    max-height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hr,
.half-hr {
    width: 100px;
    height: 50px;
}

.calendar-main {
    width: 600px;
    max-height: 1200px;
    background-color: lightgray;
    padding: 1px;
    tr {
        height: 50px;
        text-align: left;
    }
    th {
        background-color: white;
        border-left: 4px solid darkblue;
        text-align: left;
        padding-left: 10px;
    }
}

.event {
    background-color: white;
    margin: 0px 10px;
    padding: 2px 10px;
    border-left: 3px solid darkblue;
    column-span: 1;
    -ms-grid-row-span: 2
}